.stream-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: black; */
}

.stream-view__video {
    flex-grow: 1;
    /* margin: 2rem 0; */
}

.stream-view__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: var(--bg-light);
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stream-view__menu li {
    margin-left: var(--gap-sm);
}

.link-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    border-radius: 10px;
    padding: 0 var(--gap-sm);
    background-color: var(--bg-color);
}

.stream-view .icon-btn {
    color: white;
    background-color: var(--bg-color) !important;
}

.stream-view .icon-btn--on {
    background-color: red !important;
}
