.stream-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.stream-view__video {
    flex-grow: 1;
    margin: 2rem 0;
}

.stream-view__menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.stream-view__menu li {
    margin: 0 1rem;
}
