.stream-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    /* background-color: black; */
}

.stream-view__video {
    flex-grow: 1;
    /* margin: 2rem 0; */
}

.stream-view__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: var(--bg-light);
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stream-view__menu li {
    margin-left: var(--gap-sm);
}

.link-container {
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.link-container .extend {
    position: absolute;
    left: 100%;
    width: 0;
    transition: width ease-in-out 200ms;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    height: 3rem;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.extend * {
    display: none !important;
}

.extend--show * {
    display: block !important;
}

.extend--show {
    left: 80% !important;
    width: 15rem !important;
    background-color: var(--bg-color);
}

.stream-view .icon-btn {
    color: white;
    font-size: 1rem;
    background-color: var(--bg-color) !important;
}

.stream-view svg {
    font-size: inherit;
}

.stream-view .icon-btn--on {
    background-color: red !important;
}

.conn-status {
    display: flex;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 2rem;
    right: var(--page-pd);
    z-index: 1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.conn-status--LIVE {
    background-color: red;
}

.user-count {
    position: fixed;
    top: 2rem;
    left: var(--page-pd);
    z-index: 1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    transition: font-size ease-in-out 100ms;
}

.user-count * {
    font-size: inherit !important;
}

.user-count--updating {
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .extend {
        position: relative !important;
        background-color: var(--bg-color);
        left: auto !important;
        width: 17rem !important;
    }

    .extend * {
        display: block !important;
    }

    .stream-view .icon-btn {
        font-size: 1.5rem;
    }
}
