.auth {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth h1 {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.auth .logo {
    object-fit: cover;
    width: 5rem;
}

.auth__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth__right {
    display: none;
    background-color: var(--bg-light);
    min-height: 100vh;
    width: 50vw;
}

.auth__right img {
    height: 100vh;
    width: 100%;
    object-position: left;
    object-fit: cover;
}

.auth__form {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    min-width: 20rem;
    min-height: 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.auth__form h3 {
    margin: 1.5rem 0 0.5rem;
}

.auth__form form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    flex-grow: 1;
}

.auth__form input {
    margin-bottom: 0.5rem;
}

.auth__form button[type=submit] {
    margin-top: auto;
    justify-self: end;
}

.auth__form__footer {
    margin: 2rem 0 1rem;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .auth {
        /* justify-content: space-between; */
    }

    .auth__left {
        /* width: 50vw; */
    }

    .auth__right {
        /* display: block; */
    }
}
