:root {
    --primary: #6b19e6;
    --primary-light: #8947eb;
    --primary-x-light: 	#e1d1fa;
    --primary-dark: #6017cf;
    --bg-color: #282c34;
    --bg-light: #3d4148;
    --bg-x-light: #d4d5d6;
    --bg-input: #53565d;
    --gap-sm: 0.5rem;
    --page-pd: 0.5rem;
    --screen-md: 768px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    padding-left: var(--page-pd);
    padding-right: var(--page-pd);
}

.bg-dark {
    background-color: var(--bg-color);
}

.bg-light {
    background-color: var(--bg-light) !important;
}

.link-primary {
    color: var(--primary-light);
    transition: color ease-in-out 100ms;
}

.link-primary:hover {
    color: var(--primary-x-light);
}

input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--bg-input);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    color: white;
    background-color: var(--bg-input) !important;
    outline: none !important;
    transition: border 100ms ease-in-out
        box-shadow 100ms ease-in-out;
}

input:focus, input:hover {
    box-shadow: 0 0 4px 2px var(--primary);
    border: 1px solid var(--primary);
}

.input__error {
    color: red;
    font-size: 0.7rem;
    text-align: left;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.btn-primary {
    color: white;
    transition: background-color ease-in-out 100ms;
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-light);
}

.text-small {
    font-size: 0.8rem;
    color: var(--bg-x-light);
}

@media screen and (min-width: 768px) {
    :root {
        --page-pd: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --page-pd: 3rem;
    }
}
